.div1{
  background-image: url('./Rectangle\ 10\ \(1\).png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
  display: flex;
  list-style: none;
  gap: 20px;
  color: white;
  font-size: 26px;
}
.nav1{
  gap: 240px;
  display: flex;
}
#home{
  color: burlywood;
}
#img{
  margin-left: 100px;
}
#heading{
  color: burlywood;
  margin-top: 180px;
  text-align: left;
  margin-left: 70px;
  border: 0;
}
#heading1{
  font-family: 'Sansita Swashed';
  color: white;
  border: 0;
  width: 400px;
text-align: left;
margin-left: 70px;
font-size: 45px;
}
#btn{
  background-color: brown;
  color: white;
  font-family: 'Inter';
  font-size: 15px;
  margin-left: 70px;
  padding: 10px  30px 10px;
}
#heading4{
  color: burlywood;
  margin-top: 10px;
  
}
.div2{
  display: flex;
  gap: 20px;
  margin-top: 140px;
  
}
#HEAD{
  text-align: center;
  font-family: 'Sansita Swashed';
  margin-top: 70px;
}
.div3{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 120px;
  margin-top: 70px;

}
.div4{
  background-image: url('./Group\ 497.png');
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 70px;
}
#HEAD1{
  text-align: center;
  font-family: 'Sansita Swashed';
}
.nav2{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 70px;
}
#cake{
  text-decoration: underline;
  text-decoration-color: brown;

}
.div5{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 120px;
  margin-top: 70px;
}
.div6{
  background-image: url('./Group\ 498.png');
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 70px;
}
#HEAD2{
  text-align: center;
  font-family: 'Sansita Swashed';
}
.div7{
  display: flex;
  gap: 20px;
  margin-top: 70px;
  margin-left: 120px;
}
.food1{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.div8{
  background-image: url('./Group\ 509.png');
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
}